body {
  background-color: orange;
}
.contenedor {
  background-color: green;
  border: 2px solid black;
  margin: 5px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: 0;
  padding: 10px;
}
.Productos {
  background-color: darkred;
  width: 80px;
  height: 50px;
}
.Nombre {
  background-color: chocolate;
  width: 200px;
  border: 2px solid black;
}
