body {
  background-color: orangered;
}
table,
th,
td {
  border: 1px solid rgb(2, 53, 2);
}
h1 {
  color: rgb(2, 53, 2);
}
h3 {
  color: rgb(2, 53, 2);
}
.parrafo1 {
  text-align: center;
  font-size: 20px;
}
.uno {
  background-color: green;
  border: 2px solid black;
  /*padding: 20px 10px;*/
  margin: 30px 30px 60px 30%;
  height: auto;
  width: 500px;
}
.color-azul {
  color: blue;
  font-style: italic;
}
.parrafo2 {
  color: white;
  font-style: italic;
}
.dos {
  background-color: brown;
  border: 5px solid green;
  margin: 0px 0px 10px;
}
.rojito {
  color: red;
  font-style: normal;
}
.parrafo3 {
  color: white;
}
.parrafo4 {
  color: white;
  font-style: italic;
}
.tres {
  background-color: lawngreen;
  border: 2px solid black;
  margin: 30px 30px 60px 20%;
  height: auto;
  width: 320;
}
.lista {
  color: royalblue;
  font-style: initial;
}
